@model IEnumerable<WebApplicationClient.Models.DiseaseImages>
@using Microsoft.AspNetCore.Http;

<link rel="stylesheet" href="~/css/diseasesymptom.css" type="text/css" />
<div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn border border-success px-5"><i class="fa-regular fa-circle-left" style="color:green"></i></a>
    <h2 class="mr-2" style=""> Disease Images</h2>

</div>
<hr />
<div>
    <div class="ml-2 mr-2">
        <div class="row">
            @foreach (var item in Model)
            {
                    @if(item.Status) {
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                @if (Context.Session.GetString("role") == "ADMIN")
                                {
                                    <form method="post" asp-action="DeleteImage" asp-controller="Disease" asp-route-id="@item.Id">
                                        <input asp-for="@item.Id" value="@item.Id" hidden />
                                        <input asp-for="@item.DiseaseId" value="@item.DiseaseId" hidden />
                                        <button type="submit" class="btn border border-danger px-5"><i class="fa fa-x" style="color:#FF9696"></i></button>
                                    </form>
                                }
                                    <div class="card shadow">
                                        <img src="@item.ImageUrl" width="100" height="200" class="card-img-top" alt="...">
                                    </div>
                        </div>
                    }
            }
            @if (Context.Session.GetString("role") == "ADMIN")
            {           
                <div class="col-xs-6 col-sm-12 col-md-3 col-lg-3" style="margin-top:35px">
                    <a asp-action="AddCausesByDisease" asp-controller="DiseasesCauses" asp-route-diseaseId="@ViewBag.diseaseId">
                        <div class="card1" style="height:200px">
                            <div class="elms-animation">
                                <span class="one"></span>
                                <span class="two"></span>
                                <span class="three"></span>
                                <span class="four"></span>
                            </div>
                            <img src="https://endlessicons.com/wp-content/uploads/2012/12/add-icon.png" alt="" />
                            <div class="content1">
                                <button class="btn btn1">ADD MORE IMAGE</button>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</div>