@model WebApplicationClient.Models.Disease.DiseasesNeedsPesticides
@using Microsoft.AspNetCore.Http;
@using System.Net;
@using WebApplicationClient.Models.Disease
@{
    var listPesticides = ViewBag.listPesticides as IEnumerable<Pesticide>;
    var diseaseId = ViewBag.diseaseId;
    var count = 0;
    var checkAllFalse = listPesticides.All(l => l.Status == false);
}


<link rel="stylesheet" href="~/css/diseasesymptom.css" type="text/css" />
<div class="d-flex justify-content-between">
    <a onclick="goBack()" class="btn border border-success px-5" style="cursor:pointer"><i class="fa-regular fa-circle-left" style="color:green"></i></a>
    <h2 class="mr-2" style=""> Disease with Pesticide</h2>

</div>
<hr />
<div>
    <div class="ml-2 mr-2">
        <div class="row">
            @if (checkAllFalse)
            {
                <h1>
                    <span class="badge badge-danger">This disease has no specific pesticides, we will update in the future </span>
                </h1>
            }
            @foreach (var item in listPesticides)
            {
                if(item.Status)
                {
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        @if (Context.Session.GetString("role") == "ADMIN")
                        {
                            <form method="post" asp-action="DeletePesticidesByDisease" asp-controller="DiseasesPesticides">
                                <input asp-for="DiseaseId" value="@diseaseId" hidden />
                                <input asp-for="PesticideId" value="@item.Id" hidden />
                                <button type="submit" class="btn border border-danger px-5"><i class="fa fa-trash" style="color:#FF9696"></i></button>
                            </form>
                        }
                        <a asp-controller="Pesticide" asp-action="Details" asp-route-id="@item.Id">
                            <div class="card shadow">
                                @foreach (var element in item.PesticideImages)
                                {
                                    var checkNull = item.PesticideImages.All(d => d.Status == false);
                                    if (checkNull)
                                    {
                                        <img src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" width="100" height="200" class="card-img-top" alt="...">
                                        break;
                                    }
                                    else if (!checkNull)
                                    {
                                        if (element == item.PesticideImages.Where(d => d.Status == true).First())
                                        {
                                            <img src="@element.ImageUrl" width="100" height="200" class="card-img-top" alt="...">
                                        }
                                        else if (element == item.PesticideImages.Where(d => d.Status == false))
                                        {
                                            <img src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" width="100" height="200" class="card-img-top" alt="...">
                                        }
                                    }

                                }
                                <div class="card-body" style="display: -webkit-box;
                              -webkit-box-orient: vertical;
                              -webkit-line-clamp: 2;
                              overflow: hidden;
                              text-overflow: ellipsis;">
                                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                                    <p class="card-text">@Html.Raw(WebUtility.HtmlDecode(item.Description))</p>
                                </div>
                                <div class="card-body card-p">
                                    <div class="row ml-1">
                                        <div class="">
                                            <i class="fa fa-calendar-days"></i>Create Date: @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </div>
                                        <div class=" ">
                                            <i class="fa fa-calendar-days"></i>Update Date: @Html.DisplayFor(modelItem => item.UpdatedAt)
                                        </div>
                                        @*<div class="col col-xs-4">
                                    <i class="fas fa-share"></i> 99
                                    </div>*@
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            @if (Context.Session.GetString("role") == "ADMIN") {
                <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4" style="margin-top:35px">
                    <a asp-action="AddPesticidesByDisease" asp-controller="DiseasesPesticides" asp-route-diseaseId="@ViewBag.diseaseId">
                        <div class="card1">
                            <div class="elms-animation">
                                <span class="one"></span>
                                <span class="two"></span>
                                <span class="three"></span>
                                <span class="four"></span>
                            </div>
                            <img src="https://endlessicons.com/wp-content/uploads/2012/12/add-icon.png" alt="" />
                            <div class="content1">
                                <button class="btn btn1">ADD MORE PESTICIDE</button>
                            </div>
                        </div>
                    </a>
                </div>
            }
            
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
