@using Microsoft.AspNetCore.Http;
@using System.Net
@model WebApplicationClient.Models.Prediction
@{
    // var model = ViewBag.model as Disease;
    var getDisease = ViewBag.Disease as Disease;
    var listCauses = ViewBag.listCauses as List<Cause>;
    var listSymptoms = ViewBag.listSymptoms as List<Symptom>;
    var listMeasures = ViewBag.listMeasures as List<PreventativeMeasure>;
    var listPesticides = ViewBag.listPesticides as List<Pesticide>;
    var index = 1;
    var bestProbability = Model.PredictionPercent;
    var bestLabel = Model.PredictionBestLabel;
    var mediumProbability = Model.PredictionMediumPercent;
    var mediumLabel = Model.PredictionMediumLabel;
    var worstProbability = Model.PredictionWorstPercent;
    var worstLabel = Model.PredictionWorstLabel;
}

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" href="~/css/symptom.css" type="text/css" />
<link rel="stylesheet" href="~/css/diseaseInfoUser.css" type="text/css" />


<style>
    .hr7 {
        overflow: visible;
        height: 30px;
        border-style: solid;
        border-color: #FF4069;
        border-width: 1px 0 0 0;
        border-radius: 20px;
        color: #FF4069;
        font-size: 0.7em;
        text-align: center;
    }

        .hr7:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: #FF4069;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }

        .hr7:after {
            background: #F7F7F7;
            content: "\002665";
            display: inline-block;
            font-size: 1.7em;
            position: relative;
            top: -.6em;
        }

</style>
<style>
    ol,
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    /* header */
    header {
        font-weight: 100;
        margin: 0 auto 20px;
        color: #fff;
    }

        header a {
            color: #015c91;
        }

            header a:hover {
                text-decoration: underline;
            }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        background-color: #fff;
        height: 200px;
        padding: 1rem;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    .card-one {
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
    }

    /* top */
    .top {
        display: flex;
        justify-content: space-between;
        opacity: 0.8;
    }

    .actions i {
        margin-left: 0.5em;
        transition: transform 200ms ease-in-out;
    }

        .actions i:hover {
            cursor: pointer;
            transform: scale(1.2) translate(-0.2em);
        }

    /* bottom */
    .bottom {
        position: relative;
        z-index: 1;
        transform: translateY(40%);
        transition: transform 500ms ease;
    }

        .bottom::after {
            /*   outline: 1px solid tomato; */
            z-index: -1;
            content: "";
            position: absolute;
            bottom: -1em;
            left: -1em;
            right: 0;
            width: calc(100% + 2rem);
            height: calc(100% + 5rem);
            background: linear-gradient(to top, rgba(0 0 0 / 0.9), rgba(0 0 0 / 0));
        }

        .bottom:hover,
        .bottom:hover::after {
            transform: translateY(0);
        }

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        opacity: 0.8;
    }

    .author-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 4px;
    }

    .bottom h1 {
        display: inline-block;
        font-size: 2.5em;
        position: relative;
        margin-bottom: 0.3em;
    }

        .bottom h1::after {
            position: absolute;
            content: "";
            bottom: -0.2em;
            left: -2rem;
            width: calc(100% + 2rem);
            height: 0.1em;
            background-color: #C82333;
            transform: scaleX(0);
            transition: transform 600ms ease;
            transform-origin: right;
        }

    .bottom:hover h1::after {
        transform: scaleX(1);
        transform-origin: left;
    }


    .text p {
        font-weight: 100;
    }

</style>
<div class="overlay"></div>
<div class="container my-5">
    <img class="w-100 my-3" width="250" height="450" src="https://ohioline.osu.edu/sites/ohioline/files/imce/Plant_Pathology/PLPATH-FRU-35-Strawberry-Leaf-Diseases-figure-3.jpg" />
    <div style="max-width: 1000px; top: -80px;" class="mx-auto text-secondary position-relative">
        <div class="text-center mb-4">
            <img src="https://picsum.photos/164" style="width: 120px; border: 5px solid #eee; background-color: white;" class="rounded-circle mx-auto text-center" />
            <div>
                <small>
                    <a href="#" class="text-primary">Create Date :@Model.CreatedAt</a>, <a href="#" class="text-primary">Update Date: @Model.UpdatedAt</a>
                </small>
            </div>
            <h1 class="text-center font-weight-bold text-dark">
                Disease Name: @getDisease.Name
            <div>
                <small class="text-dark">
                    Written by <a href="#" class="text-primary">Expert</a>
                </small>
            </div>
        </div>
          <div class="row mb-2">
            <div class="col-md-12 d-flex justify-content-center" style="height:500px">
                <canvas id="myPieChart" width="200" height="200"></canvas>
            </div>
        </div>
        <br />
        <hr class="hr7" />

        <p class="my-2" style="line-height: 2;"> @Html.Raw(WebUtility.HtmlDecode(getDisease.Description))</p>
        <br>
        <br>
        @*// ----------------------------------- 1 Disease*@
        <h3 class="font-weight-bold text-dark mb-4">#1. What cause disease?</h3>
        @*<p class="my-2" style="line-height: 2;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@

        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    @*<th>Cause Name</th>*@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in listCauses)
                {
                    
                            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Cause">
                                <div class="d-flex align-items-center mb-3 border rounded tagdisease" style="background-color:white">
                                            <div class="avatar avatar-blue mr-3">@index</div>
                                            <div class="">
                                                <p class="font-weight-bold mb-0 ml-3" style="color:green">@Html.DisplayFor(modelItem => item.Title)</p>
                                            </div>
                                 </div>
                            </a>
                      
                    index++;
                }
            </tbody>
        </table>

        <br>

        <blockquote class="text-primary p-3 font-italic" style="border-left: 4px solid black; line-height: 2;">Strawberries are easy to grow, and are vigorous and resilient perennial plants. But they are not immune to problems. Plant diseases can take hold of a strawberry patch and wipe out your yields very quickly. We’ll explore the causes of the most common strawberry diseases below, but first, it helps to understand what exactly causes strawberries to get sick in the first place.</blockquote>

        <br>

        @*// ----------------------------------- 2 Symptom*@
        <h3 class="font-weight-bold text-dark mb-4">#2. How to identify?</h3>
        @*<p class="my-2" style="line-height: 2;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@

        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    @*<th>Cause Name</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listSymptoms)
                {

                    <a asp-action="Details" asp-route-id="@item.Id"asp-controller="Symptom">
                        <div class="d-flex align-items-center mb-3 border rounded tagdisease" style="background-color:white">
                            <div class="avatar avatar-blue mr-3">@index</div>
                            <div class="">
                                <p class="font-weight-bold mb-0 ml-3" style="color:green">@Html.DisplayFor(modelItem => item.Title)</p>
                            </div>
                        </div>
                    </a>

                    index++;
                }
            </tbody>
        </table>

        <br>

        <blockquote class="text-primary p-3 font-italic" style="border-left: 4px solid black; line-height: 2;">Strawberry plants are prone to a variety of leaf diseases that can weaken the plant and negatively impact fruit production. Identifying these diseases early on is crucial to prevent further spread and protect the overall health of the plant. In this article, we'll cover some key tips for identifying leaf diseases in strawberry plants, including checking for discoloration, spots, curling, distortion, and powdery or fuzzy growth. By learning to recognize these symptoms, growers can take swift action to prevent the spread of disease and ensure their strawberry plants stay healthy and productive.</blockquote>

        <br>

        @*// ----------------------------------- 3 PreventativeMeasures*@
        <h3 class="font-weight-bold text-dark mb-4">#3. Preventative Measures?</h3>
        @*<p class="my-2" style="line-height: 2;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@

        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    @*<th>Cause Name</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listMeasures)
                {
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="PreventativeMeasure">
                        <div class="d-flex align-items-center mb-3 border rounded tagdisease" style="background-color:white">
                            <div class="avatar avatar-blue mr-3">@index</div>
                            <div class="">
                                <p class="font-weight-bold mb-0 ml-3" style="color:green">@Html.DisplayFor(modelItem => item.Title)</p>
                            </div>
                        </div>
                    </a>
                    index++;
                }
            </tbody>
        </table>

        <br>
        <blockquote class="text-primary p-3 font-italic" style="border-left: 4px solid black; line-height: 2;">Preventing leaf diseases in strawberry plants is crucial to maintain their health and productivity. Taking preventative measures can help reduce the risk of infection and minimize the impact of any potential disease outbreaks.</blockquote>
        <br>

        @*// ----------------------------------- 3 PreventativeMeasures*@
        <h3 class="font-weight-bold text-dark mb-4">#4. Pesticides </h3>
        @*<p class="my-2" style="line-height: 2;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@

        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    @*<th>Cause Name</th>*@
                </tr>
            </thead>
            <tbody>
                <main class="cards">
                    <section class="card card-one" style="background-image: url('https://www.allaboutgardening.com/wp-content/uploads/2022/04/Leaf-Spot-1.jpeg');">
                        <div class="top">
                            <div class="date">Created Date : 5 Sep 2022 </div>
                            <div class="actions">
                                1<i class="fa-regular fa-hashtag"></i>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="author">
                                <div><img class="author-img" src="https://randomuser.me/api/portraits/men/10.jpg"></div>
                                <span>Expert</span>
                            </div>
                            <h1><a asp-action="Details" asp-controller="Pesticide">Title : Best Gardening Ideas in 2022</a></h1>
                            <div class="text d-flex justify-content-start align-items-center " style="">
                                <p style="display: -webkit-box;width:700px;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;">
                                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, cue porro quisquam est qui dolorem ipsum quia dolor sit amet, cue porro quisquam est qui dolorem ipsum quia dolor sit amet, cue porro quisquam est qui dolorem ipsum quia dolor sit amet, consecte, adipisci...
                                    </p>
                                <button class="btn btn-danger px-5 text-white ml-2">Read More</button>
                            </div>
                        </div>
                    </section>
                </main>

                @foreach (var item in listPesticides)
                {
                    <main class="cards">
                        @foreach(var element in item.PesticideImages){
                            <section class="card card-one" style="background-image: url('@element.ImageUrl');">
                            <div class="top">
                                <div class="date">Created Date : @Html.DisplayFor(modelItem => item.CreatedAt) </div>
                                <div class="actions">
                                    @index<i class="fa-regular fa-bookmark"></i>
                                    @index<i class="fa-regular fa-heart"></i>
                                    @index<i class="fa-regular fa-comment"></i>
                                    @index<i class="fa-solid fa-share-nodes"></i>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="author">
                                    <div><img class="author-img" src="https://randomuser.me/api/portraits/men/10.jpg"></div>
                                    <span>Expert</span>
                                </div>
                                <h1><a asp-action="Details" asp-controller="Pesticide" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h1>
                                <div class="text d-flex justify-content-start align-items-center " style="">
                                    <p style="display: -webkit-box;width:700px;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;">
                                        @Html.DisplayFor(modelItem => item.Description)
                                      </p>
                                    <button class="btn btn-danger px-5 text-white ml-2"><a asp-action="Details" asp-controller="Pesticide" asp-route-id="@item.Id">READ MORE</a></button>
                                </div>
                            </div>
                        </section>
                        }
                    </main>
                 @*   <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Pesticide">
                        <div class="d-flex align-items-center mb-3 border rounded tagdisease" style="background-color:white">
                            <div class="avatar avatar-blue mr-3">@index</div>
                            <div class="">
                                <p class="font-weight-bold mb-0 ml-3" style="color:green">@Html.DisplayFor(modelItem => item.Title)</p>
                            </div>
                        </div>
                    </a>*@
                    index++;
                }
            </tbody>
        </table>

        <br>

        <blockquote class="text-primary p-3 font-italic" style="border-left: 4px solid black; line-height: 2;">Pesticides can be an effective way to manage and control leaf diseases in strawberry plants. They work by killing or preventing the growth of pathogens that cause these diseases. However, it's important to use pesticides correctly and safely to minimize the risk of environmental damage and harm to human health. </blockquote>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctxPie = document.getElementById('myPieChart').getContext('2d');
    new Chart(ctxPie, {
        type: 'pie',
        data: {
            labels: ['@bestLabel', '@mediumLabel', '@worstLabel'],
            datasets: [{
                label: 'My First Dataset',
                data: [(@bestProbability * 100), (@mediumProbability * 100), (@worstProbability *100)],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });
</script>

