
@model WebApplicationClient.Models.DiseasesHasSymptoms
@using Microsoft.AspNetCore.Http;
@{
    var listDiseases = ViewBag.listDiseases as IEnumerable<Symptom>;
    var diseaseId = ViewBag.diseaseId;
}

<link rel="stylesheet" href="~/css/diseasesymptom.css" type="text/css" />
<div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn border border-success px-5"><i class="fa-regular fa-circle-left" style="color:green"></i></a>
    <h2 class="mr-2" style=""> Disease with symptom</h2>
   
</div>
<hr />
@*<div>
    <a asp-action="AddSymptomByDisease" asp-controller="DiseasesSymptoms" asp-route-diseaseId="@ViewBag.diseaseId" class="btn btn-primary">Add more symptoms for this disease</a>
</div>*@

<div>
    <div class="ml-2 mr-2">
        <div class="row">
            @foreach (var item in listDiseases)
            {
                <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @if (Context.Session.GetString("role") == "ADMIN")
                    {
                        <form method="post" asp-action="DeleteSymptomByDisease" asp-controller="DiseasesSymptoms">
                            <input asp-for="DiseaseId" value="@diseaseId" hidden />
                            <input asp-for="SymptomId" value="@item.Id" hidden />
                            <button type="submit" class="btn border border-danger px-5"><i class="fa fa-trash" style="color:#FF9696"></i></button>
                        </form>
                    }
                <a  asp-controller="Symptom" asp-action="Details" asp-route-id="@item.Id">
                    <div class="card shadow">
                        <img src="@item.Image" width="100" height="200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-body card-p">
                            <div class="row ml-1">
                                <div class="">
                                    <i class="fa fa-calendar-days"></i>Create Date: @Html.DisplayFor(modelItem => item.CreatedAt)
                                </div>
                                <div class=" ">
                                    <i class="fa fa-calendar-days"></i>Update Date: @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </div>
                               

                                @*<div class="col col-xs-4">
                                    <i class="fas fa-share"></i> 99
                                </div>*@
                            </div>
                        </div>
                    </div>
                </a>
              
                </div>
            }

             @if (Context.Session.GetString("role") == "ADMIN") {
                 
                    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4" style="margin-top:35px">
                    <a asp-action="AddSymptomByDisease" asp-controller="DiseasesSymptoms" asp-route-diseaseId="@ViewBag.diseaseId">
                        <div class="card1">
                            <div class="elms-animation">
                                <span class="one"></span>
                                <span class="two"></span>
                                <span class="three"></span>
                                <span class="four"></span>
                            </div>
                            <img src="https://endlessicons.com/wp-content/uploads/2012/12/add-icon.png" alt="" />
                            <div class="content1">
                                <button class="btn btn1">ADD MORE SYMPTOM</button>
                            </div>
                        </div>
                    </a>
                    </div>
             
             }
           

        </div>
    </div>
</div>