@model WebApplicationClient.Models.Symptom
@using Microsoft.AspNetCore.Http
@using System.Net
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
           
                <h3 class="mb-0">
                @if (Context.Session.GetString("role") == "ADMIN")
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn border border-success"><i class="fas fa-edit" style="color:green"></i></a>
                }
                Symptom Details</h3>
          
        </div>
        <div class="card-body">
            <div class="row mt-4  justify-content-center">
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="box-shadow: 5px 2px 3px grey">
                        <div class="carousel-inner">
                            @foreach (var item in Model.SymptomImages)
                            {
                                var checkNull = Model.SymptomImages.All(d => d.Status == false);
                                @if (checkNull)
                                {
                                    <div class="carousel-item @(item == Model.SymptomImages.First() ? "active" : "")">
                                        <img class="d-block w-100" height="350" src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" alt="@item.Id">
                                    </div>
                                }
                                @if (item.Status)
                                {
                                    <div class="carousel-item @(item == Model.SymptomImages.Where(d => d.Status == true).First() ? "active" : "")">
                                        <img class="d-block w-100" src="@item.ImageUrl" alt="@item.Id">
                                    </div>
                                }
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 pb-3">
                            <label for="exampleZip1">Created Date</label>
                            <p>@Model.CreatedAt</p>
                        </div>
                        <div class="col-sm-6 pb-3">
                            <label for="exampleZip1">Updated Date</label>
                            <p>@Model.UpdatedAt</p>
                        </div>
                    </div>

                    <div class="">
                        <a asp-action="SymptomImages" class="btn border border-success px-5 d-flex justify-content-center" asp-route-id="@Model.Id">View all Images</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-12 pb-3">
                        <label for="exampleFirst">Symptom Title : </label>
                        <h2>@Model.Title</h2>
                    </div>
                    <div class="col-sm-12 pb-3">
                        <label for="exampleCity">Symptom Description</label>
                        @*<p>@Model.Description</p>*@
                        @Html.Raw(WebUtility.HtmlDecode(Model.Description))
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="justify-content-between">
                <a asp-action="Index" asp-controller="Symptom" class="btn border border-success px-5"><i class="fa-regular fa-circle-left" style="color:green"></i></a>

            </div>
        </div>
    </div>
</div>
