@using System.Net
@model WebApplicationClient.Models.Disease.Cause

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">
                Pesticide Infomation
            </h3>
        </div>
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-sm-12 pb-3">
                    <label for="exampleAccount">Cause ID</label>
                    <input class="form-control" id="exampleAccount" placeholder="XXXXXXXXXXXXXXXX" type="text" asp-for="@Model.Id" disabled>
                </div>
                <div class="col-sm-12 pb-3">
                    <label for="exampleFirst">Cause Name</label>
                    <input class="form-control" id="exampleFirst" type="text" asp-for="@Model.Title" disabled>
                </div>

                <div class="col-sm-12 pb-3">
                    <label for="exampleCity">Cause Description</label> 
                     <div class="p-3">
                        @Html.Raw(WebUtility.HtmlDecode(Model.Description))
                    </div>

                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleZip1">Created Date</label>
                    <input class="form-control" id="exampleZip1" type="date" asp-for="@Model.CreatedAt" disabled>
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleZip1">Created Date</label>
                    <input class="form-control" id="exampleZip1" type="date" asp-for="@Model.UpdatedAt" disabled>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="justify-content-between d-flex">
                <a asp-action="Index" class="btn border border-success px-5"><i class="fa-regular fa-circle-left" style="color:green"></i></a>
                @if (Model.Status)
                {
                  @*  <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>*@

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>

                    <form class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" asp-action="Delete" style="margin-top:200px">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content d-flex justify-content-center" style="align-items: center">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this entry? </h5>
                                </div>
                                <div class="modal-body">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5184/5184592.png" width="200" height="200" />
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" asp-for="Id" />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>